@media screen and (max-width:767px) {
  thead {
    display: none;
  }

  tr {
    float: left;
    padding: 10px 0;
    border-top: 2px solid $color__primary_grey;
    border-bottom: 2px solid $color__primary_grey;

    &:first-child {
      border-bottom: none;
    }

    td {
      display: inline-block;
      border: none !important;
    }
  }
}
