.site {

  &-header {
    width: 100%;
    background: #fff;
    height: 60px;
    @include clearfix();
  }

  &-branding {
    position: relative;
    z-index: 20;
    height: 60px;
    background: #fff;

    @include breakpoint($sm) {
      display: inline-block;
    }

    h1 {
      margin: 0;
      padding: 10px 0 0 10px;
    }
  }

}

.admin-bar .site-header {
  margin-top: 46px;
}
