.site {

  &-header {
    width: 100%;
    background: #fff;
    height: 60px;
    overflow: hidden;
    @include clearfix();
  }

  &-branding {
    float: left;
    padding: 10px;

    h1 {
      margin: 0;
    }
  }

}
