$margins: 8px;
$offsetTop: 14px;
$offsetLR: 4px;
$height: 4px;

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background 0.15s;

  &:after {
    content:'';
    position:absolute;
    top:-20px; bottom:-20px;
    left:-20px; right:-20px;
  }
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: $offsetTop;
  left: $offsetLR;
  right: $offsetLR;
  height: $height;
  background: $color__primary_red;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $height;
  background-color: $color__primary_red;
  content: "";
}

.c-hamburger span::before {
  top: -$margins;
}

.c-hamburger span::after {
  bottom: -$margins;
}

.c-hamburger--htx {
  background-color: #fff;
}

.c-hamburger--htx span {
  transition: background 0s 0.15s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.15s, 0.15s;
  transition-delay: 0.15s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  //transition-delay: 0s, 0.3s;
}
