.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
  margin-top: 60px;
}
.admin-bar .site-content {
  margin-top: 46 +60px;
}

.masthead {
  .content {
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 480px;

    @include breakpoint($sm) {
      min-height: 500px;
    }

    @include breakpoint($md) {
      min-height: 500px;
    }

    @include breakpoint($lg) {
      min-height: 800px;
    }

    .textContainer {
      width: 75%;
      background: rgba(255,255,255,0.25);
      border: 2px solid white;
      padding: 5px;
      position: absolute;
      bottom: 5%;
      left: 10%;
    }
  }
}

